html body{
    height: 100%;
    margin: 0;
    
}
header {
	font-family: 'Georgia'," Times", "Times New Roman", "serif";
    padding: 4.5% 0% 4.5% 20.25%;
    border-bottom: solid #cccccc 1px;
    
}
.BckgrndColr,
footer{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}
h2{
    color: #4aaaa5;

}
.Myname{
    border: 3px solid #4aaaa5;
    background-color: #4aaaa5;
    color: white;
    width: 20%;
    text-align: center;
    float: left;    
    
}


/* Style for the nav element */
nav {
    width: 70%;
    padding: 0.5%;
    float: right;
   
}

/* Style for the nav list item elements */
nav li {
    
    display: inline;
    padding: 0;
}

/* Style for the nav links element */
nav li a {
    
	padding-left: 2%;
    padding-right: 2%;
    color : grey;

	
}

.BckgrndColr{
    background-image: url(../images/paisley.png);
    padding: 20px 0px 150px 450px;
    min-height: 100%;
    margin-bottom: -50px;
}
.BckgrndColrCT{
    background-image: url(../images/paisley.png);
    padding: 20px 0px 150px 380px;
    min-height: 100%;
    margin-bottom: -50px;
}

.container{
    padding: 10px 10px 10px 10px;
}

section{
    background-color: #ffffff;
    height: 500px;
    width : 960px;
    position: relative;
   
}

main{
    background-color: #ffffff;
    height: 520px;
    width : 50%;
    position: relative;
   
}

#Portfoliopage{
    background-color: #ffffff;
    height: 650px;
    width : 50%;
    position: relative;
   
}


footer {
	font-size: .70em;
    text-align: center;
    background-color: #666666;
    clear: both;
    border-top: 8px solid #4aaaa5;
}
    
 img{
 
     float: left;
    width: 200px;
    height: 200px;
    padding: 15px 15px;
    

}

P{
 
    
    color : #c2bebe; 
    line-height: 200%;
}


label{
	
	padding-right: 0.5em;
	text alighn: right;
	width: 7em;
}

#email,
#fName{
    width: 90%;
}

#message{
    height: 250px;
    width: 90%;
}
/* Style rule for btn class */
.btn{
    margin-bottom: 1em; 
    background-color: #4aaaa5;
    color : white;
}

/* Style for input,select, and textarea form element*/

input,select, textarea {
	display: block;
	margin-bottom: 1em;
}
/* Style rule for label element */
label {
	display: block;
} 
/* Style rule for unordered lsit within a form */
form  {
    list-style-type: none;
    color : #c2bebe;    
    
}
/* style rule for chkbx */
.chkbx {
	display: inline-block
}

.AbvFootr,
footer{
    height: 50px;
    color: white;
    
 
}

.box{
    height: 150px;
    width: 150px;
    position: relative;
}

.box1{
   left: 10px;

}

.box2{
    left: 10px;
}

.box3{
    
  right: 350px;
  top: 180px;

}

.box4{

    left: 190px;
}

.box5{
    top: 170px;
    right: 170px
}